.board {
    border: 1px solid white;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 8px;
    margin-top: 8px;
}

.boardDisabled {
    opacity: 0.5;
    pointer-events: none;
}

.boardRow {
    display: flex;
    flex-direction: row;
}

.messageBanner {
    position: absolute;
    border-radius: 16px;
    padding: 8px 16px;
    border: 1px solid white;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
}

@media (min-width: 600px) {
    .messageBanner {
        padding: 16px 32px;
    }
}

.gameOverBanner {
    background: #0F0F0F;
}

.sunkBanner {
    background: #001A23;
}