.cell {
    border: 1px solid gray;
    background: #001A23;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vw;
    width: 9vw;
}

@media (hover: hover) and (pointer: fine) {
    .cell:hover {
        opacity: 0.5;
    }
}

@media (min-width: 768px) {
    .cell {
        height: 64px;
        width: 64px;
    }
}

.enabledCell {
    cursor: pointer;
}

.disabledCell {
    cursor: not-allowed;
}

.seaCell {
    background: #2364AA;
}

.sunkCell {
    background: black;
}

.burnCell {
    background: #FF595E;
}